body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#globe-picture {
    width: 500px
}

#search-field {
    width: 300px;
    margin-right: -6px;

}


#search-button {
    font-family: "American Typewriter", sans-serif;
}

#button {
    width: 80px;
    margin-left: 0;
    padding-left: -1px;
}

h1 {
    font-family: "American Typewriter", sans-serif;
}